<div class="container">
  <h1>This is personal AngularJS project for project defence at SoftUni</h1>
  <h2>It has dynamic rendering for logged in users and guests</h2>
  <h2>If you are logged in you can:</h2>
  <p>1 - Add places;</p>
  <p>2 - Delete your own places;</p>
  <p>3 - Edit your own places;/p></p>
  <p>4 - Add places to your plans;</p>
  <p>5 - See your planned places;</p>
  <p>6 - Remove planned places;</p>
  <p>7 - See the places you have added;</p>
  <p>8 - See details for particular place;</p>

  <h2>If you are guest you can:</h2>
  <p>1 - Search places;</p>
  <p>2 - See all places added by users;</p>
  <p>3 - Register as user;</p>
  <p>4 - Login as existing user;</p>
  <p>5 - See details for particular place;</p>
</div>
