<div class="wrapper">
  <div class="profileContainer" *ngIf="currentPlace">

    <h1>{{currentPlace?.name}}</h1>
  
    <div class="details-img">
      <img src="{{currentPlace?.imageUrl}}" class="place" />
    </div>
  
    <div class="place-description">
      <p>{{currentPlace?.description}}</p>
      <div class="detailsBtns" *ngIf="isOwner">
        <a routerLink="/places">Back</a>
        <a routerLink="/places/{{currentPlace?.placeId}}/edit">Edit</a>
        <a routerLink="/places" (click)="delete(currentPlace?.placeId)">Delete</a>
      </div>
      <div class="detailsBtns" *ngIf="!isOwner">
        <a routerLink="/places">Back</a>
      </div>
    </div>
  </div>

  <div class="profileContainer" *ngIf="!detailsPlace">
    <h1>There are no places yet!</h1>
  </div>

  <h2><a routerLink="/">Home Page</a></h2>
</div>
