<div class="wrapper">
  <div class="loader" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!isLoading">
    <div class="places-cards" *ngIf="placesArr">
      <div class="place" *ngFor="let place of placesArr">
        <div class="place-img"><img src="{{ place.imageUrl }}" /></div>
        <div class="preview">
          <p>{{ place.name }}</p>
        </div>
        <div class="info-btn">
          <button routerLink="{{ place.placeId }}/details"> Explore </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!placesArr">
    <h1 class="no-destinations" >
      We have no destinations yet!
    </h1>
  </div>
</div>
