/* Suggestions section */
.places {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.place {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    text-align: center;
    align-items: center;
}

.place-img {
    width: 20%;
    height: auto;
}

.preview {
    width: 30%;
    height: fit-content;
}

.place a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.info-btn {
    width: 30%;
}