@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 215, 172);
}

.logo {
  display: flex;
  justify-content: flex-start;
  background-color: burlywood;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.logo a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
  transform: scale(1.02);
}

nav {
  margin: 4em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 3em;
}

nav ul li {
  padding: 4px;
  border-radius: 5px;
  transition: 0.3s ease 0s;
}

nav ul li:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav ul li a {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  position: relative;
}
