<div class="wrapper">
  <div class="form-info">
    <h2>Search places:</h2>

    <input
      type="text"
      #searchInput
      placeholder="Search Products"
    />
    <a routerLink="/search" (click)="searchPlace(searchInput.value)">Search</a>

    <div class="wrapper">
            <div class="places">
              <div *ngIf="places.length > 0">
                <div class="place" *ngFor="let place of places">
                  <img class="place-img" src="{{place.imageUrl}}" />
                  <p class="preview">{{place.name}}</p>
                  <a class="info-btn" routerLink="places/{{place.placeId}}/details"> More Info </a>
                </div>
              </div>
          
              
              <h1 *ngIf="places.length == 0">Search places here!</h1>
            </div>
          </div>

    <h2><a routerLink="/">Home Page</a></h2>
  </div>
</div>
