<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="login()">
    <h2>Login</h2>

    <label for="userName"><span>Enter your username:</span></label>
    <input
      type="userName"
      name="userName"
      id="userName"
      class="userName"
      placeholder="Username"
      formControlName="email"
    />

    <ng-container *ngIf="form.get('email')?.touched">
      <p class="error" *ngIf="form.get('email')?.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="form.get('email')?.errors?.['email']">
        Email is not valid!
      </p>
    </ng-container>

    <label for="password"><span>Enter your password:</span></label>
    <input
      type="password"
      name="password"
      id="password"
      class="password"
      placeholder="********"
      formControlName="password"

    />

    <ng-container *ngIf="form.get('password')?.touched">
      <p class="error" *ngIf="form.get('password')?.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
        Password is not valid!
      </p>
    </ng-container>

    <button [disabled]="form.invalid">Login</button>

    <p>
      Don't have an account?
      <a routerLink="/register">Register Here!</a>
    </p>
  </form>
</div>
