<div class="wrapper">
    <div class="form-info">
        <h2>Choose your criteria:</h2>


        <form action="#" class="activity">

            <div class="checkbox">
                <div>
                    <input type="checkbox" id="fishing" name="fishing">
                    <label for="fishing">fishing</label>
                </div>
                <div>
                    <input type="checkbox" id="hiking" name="hiking">
                    <label for="hiking">hiking</label>
                </div>
                <div>
                    <input type="checkbox" id="camping" name="camping">
                    <label for="camping">camping</label>
                </div>
            </div>

            <div class="place-select">
                <label for="place">Изберете какво искате да практикувате:</label>
                <select name="place" id="place">
                    <option value="">Риболов на язовир</option>
                    <option value="">Риболов на река</option>
                    <option value="">Поход в планина</option>
                    <option value="">Поход на връх</option>
                    <option value="">Поход на екопътека</option>
                    <option value="">Свободен къмпинг</option>
                    <option value="">Платен къмпинг</option>
                </select>
            </div>

            <div class="vehicle-choice">
                <label for="vehicle">Какво превозно средство ще ползвате:</label>
                <select name="vehicle" id="vehicle">
                    <option value="">Лек автомобил</option>
                    <option value="">Джип</option>
                    <option value="">Без значение</option>
                </select>
            </div>

            <input type="submit" value="Търси">
        </form>

        <h2><a href="/">Към Начална Страница</a></h2>

    </div>
</div>