/* Home Page  */
.home-container {
    width: auto;
    max-height: 700px;
    text-align: center;
}

.home-container img {
    height: 550px;
}

.home-container .home-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.home-container .home-nav a {
    text-decoration: none;
    color: black;
}

/* Main body div styles  */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    min-height: 650px;
    padding: 1em;
    background-color: rgb(248, 191, 122);
}

