<div class="wrapper">
    <div class="home-container">
        <div class="home-image">
            <img src="https://images.pexels.com/photos/413960/pexels-photo-413960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div class="home-preview">
            <div class="intro">
                <h2>Looking for the right destination for a holiday? Find it here!</h2>
            </div>
            <div class="home-nav">
                <a routerLink="/places">Destinations To Visit</a>
                <a routerLink="/places/search">Search Destinations</a>
                <a routerLink="/places/add-place">Add Destination</a>
            </div>
        </div>
    </div>
</div>